include LICENSE.txt
include README.md
include setup.cfg
include setup.py
include ProDuSe/__init__.py
include ProDuSe/adapter_predict.py
include ProDuSe/adapter_qc.py
include ProDuSe/alignment.py
include ProDuSe/bed.py
include ProDuSe/bwa.py
include ProDuSe/collapse.py
include ProDuSe/configure_produse.py
include ProDuSe/create_test_data.py
include ProDuSe/fastq.py
include ProDuSe/nucleotide.py
include ProDuSe/position.py
include ProDuSe/printer.py
include ProDuSe/produse.py
include ProDuSe/qsub.py
include ProDuSe/snv.py
include ProDuSe/trim.py
include bin/produse
include ProDuSe/splitmerge.pl
include ProDuSe/filter_produse.pl
include ProDuSe/ProdusePipeline.py
include ProDuSe/filter_produse.py
include ProDuSe/SplitMerge.py
