include LICENSE.txt
include README.md
include setup.cfg
include setup.py
include ProDuSe/__init__.py
include ProDuSe/AdapterPredict.py
include ProDuSe/Collapse.py
include ProDuSe/Trim.py
include bin/produse
include ProDuSe/ProdusePipeline.py
include ProDuSe/Call.py
include ProDuSe/ClipOverlap.py
include ProDuSe/UpdateConfig.py
include ProDuSe/Train.py
include ProDuSe/ResumePipeline.py
include ProDuSe/default_filter.pkl
